<!DOCTYPE html>
<html lang="en">
<head>
  <title>Caffe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Input Image</h2>
  <form method="post" enctype="multipart/form-data" action="/post/">
  	{% csrf_token %}
    <div class="form-group">
      <label for="usr">Insert Image:</label>
      <input type="file" name="photos" class="form-control" id="usr">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>



</body>
</html>
