<!DOCTYPE html>
<html lang="en">
<head>
  <title>Caffe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Output</h2>
  <h3 class="makanan">Nama Makanan</h3>
  <div>
    <img src="{{img}}" style="width:200px;height:auto">
  </div>
  <h4 class=resep-title>Bahan Makanan</h4> 
  <div class="resep">
    <div>❖ Cabai</div>
    <div>❖ Cabai</div>
  </div>
</div>
</body>
</html>